API_GATEWAY_PORT=3000
ORDER_SERVICE_PORT=3001
INVENTORY_SERVICE_PORT=3002
PRODUCT_SERVICE_PORT=3003
ORDER_SERVICE_URL="http://localhost:3001"
INVENTORY_SERVICE_URL="http://localhost:3002"
PRODUCT_SERVICE_URL="http://localhost:3003"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/db_order"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
DB_SYNCHRONIZE=true
REDIS_HOST=localhost
REDIS_PORT=6379
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
