ORDER_SERVICE_PORT=3001
DATABASE_URL="postgres://postgres:postgres@localhost:5432/db_order"
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=db_order
DB_SYNCHRONIZE=true
